{% extends "layout.html.twig" %}

{% block title %}Lana-Beauty-Réservez votre manucure rendez-vous en ligne.{% endblock %}
{% block description %}Réservez votre manucure rendez-vous en ligne.{% endblock %}

{% block body %}

    {% for saloon in saloons %}

        <div class="banner">
            <div class="banner-content">
                <div class="lead">
                    <h1>Réserver ma Manucure</h1>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}


{% block scripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&libraries=places"></script>
    <script src="{{ asset('build/location.js') }}"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}
