{% extends "layout.html.twig" %}

{% block title %}Lana-Beauty-Réservez votre manucure rendez-vous en ligne.{% endblock %}
{% block description %}Réservez votre manucure rendez-vous en ligne.{% endblock %}

{% block body %}

    <body>
    <!-- Landing Area -->
    {% for saloon in saloons %}

    <div id="landing">
        <div id="landing-text">
            <div id="landing-text-inner">
                <h1>Réserver votre soin beauté en 3 étapes</h1>
                <br>
                <p>
                    Choisissez un soin <strong>beauté</strong>.<br>
                    Trouver un <strong>créneau</strong> disponible.<br>
                    Payer en ligne <strong>ou lors du rendez-vous</strong>.
                </p>
                <a href="{{ path('saloon_public', {'saloon': saloon.slug}) }}" class="btn" id="view-work">
                    Prendre RDV
                </a>
            </div>
        </div>
        <div id="landing-image"></div>
        {% endfor %}
    </div>
    </body>

{% endblock %}


{% block scripts %}
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&libraries=places"></script>
    <script src="{{ asset('build/location.js') }}"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://www.jqueryscript.net/demo/jQuery-Plugin-For-Water-Ripple-Animation-ripples/js/jquery.ripples.js">
    </script>
    <script>
        $(document).ready(function () {
            $('.image').ripples('show');
        });
    </script>
{% endblock %}
