<div class="col-sm-12 col-md-6 col-lg-4 my-4" data-aos="{{ aos|default('zoom-in') }}">
    <img class="rounded-circle" src="{{ asset('build/images/' ~ image ~ '.jpg') }}" width="180" height="180">
    <h2 class="my-3">{{ title|raw }}</h2>
    <p>{{ text|raw }}</p>
</div>