{% set page_id = 1 %}
{% extends "layout.html.twig" %}

{% block title %}Tableau de bord | {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        
        {% include 'saloon/menu.html.twig' %}

        <div class="col-lg-10 col-md-12">

            <div class="row">
                <div class="col-sm-12 col-md-4 my-4" data-aos="fade-down" data-aos-delay="0">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h5 class="card-title">{{ saloon.money / 100 }}€</h5>
                            <p class="card-text">en attente de virement</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 my-4" data-aos="fade-down" data-aos-delay="300">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h5 class="card-title">{{ todaySlots }} Rendez-vous</h5>
                            <p class="card-text">Aujourd'hui</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 my-4" data-aos="fade-down" data-aos-delay="600">
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h5 class="card-title">{{ nextSlots|length }} Rendez-vous</h5>
                            <p class="card-text">Prévus</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12 mt50">
                <h2 class="hw mb30 text-center">Prochains rendez-vous</h2>
                <div class="table-responsive">
                    {% include "saloon/slot/table.html.twig" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
