@import "~bootstrap/scss/bootstrap";
@import "stripe.scss";
@import "calendar.scss";
@import "prestation.scss";
@import "schedule.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
  position: relative;
  min-height: 100%;
}

.search-card .card {
  &:hover, &:focus {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    transform: scale3d(1.020, 1.020, 1);
    cursor: pointer;
  }
}

.vertical-spacer {
  height: 6em;
}

h1.saloon-name {
  line-height: 0.6;
}

.card-img-top {
  height: 190px;
}

.search-card .card {
  max-width: 290px;
  margin: auto;
}

.img-center {
  display: block;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

/* screen sizes 500px and up */
@media(min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

::selection {
  color: #fff;
  background-color: black;
}

::-moz-selection {
  color: #fff;
  background-color: black;
}


/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 10px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 28px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  height: 64px;
  padding: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  .row {
    width: 100%;
  }
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: 52px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  // border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: black !important;
}

.nav-item.active .nav-link {
  color: #777 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: black;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  height: 100vh;
}

.over-hide {
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #212112;
  text-align: center;
}

p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129, 103, 169, .6);
}


@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
  .nav-item:after {
    display: none;
  }
  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
  }
  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }
  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 400px) {
  .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
}

button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
  font-size: 1rem;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.lead h1 {
  font-size: 72px;
  color: white;
  text-shadow: 0 0 20px rgba(0, 0, 0, .8);
  font-weight: normal;
}

.homepageContainer {
  margin-top: 64px;
}

// Banner
.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/homepage.jpg');
}

.text-center {
  text-align: center;
}

.css-1rd49fg {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 1.29;
  margin-top: 16px;

}

.css-1rd49fi {
  font-weight: 700;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 1.29;
  margin-top: 16px;

}

.css-1maandq, [data-css-1maandq] {
  color: rgb(151, 151, 151);
  line-height: 1.29;
  font-size: 14px;
}

.dropdown-item.active {
  color: #fff;
  text-decoration: none;
  background-color: black;
}

.text-admin {
  text-decoration: none;
  color: black;
}

.table{
  background-color: #ffffff;
}


/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');


.logo {
  position: fixed;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  margin: 0 auto;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 145%;
  background: #FAFAFA;
}
h1 {
  font-weight: 300;
  font-size: 3.75em;
}
h2 {
  line-height: 125%;
  font-weight: 300;
  font-size: 2.1875em;
}
h3 {
  font-weight: 300;
  font-size: 1.875em;
}
h4 {
  font-weight: 600;
  font-size: 0.8125em;
}
h5 {
  font-weight: 600;
  font-size: 0.75em;
}
p {
  font-weight: 400;
  font-size: 0.8125em;
}
a {text-decoration: none;}
li {list-style: none;}
section, footer {
  display: block;
  width: 100%;
}
label {display: none;}

/* 12 Column Grid Layout */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.row {
  width: 1170px;
  margin: 0 auto;
}
.row::after {
  content: "";
  clear: both;
  display: block;
}

/* Section-1 Styles */
.section-1 {
  padding: 4% 0 21.6em 0;
  background: url('https://i.etsystatic.com/20604666/r/il/c166ce/2745447697/il_1588xN.2745447697_k7tc.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  .logo {
    position: relative;
    height: 7em;
    padding-left: 7%;
    font-family: Merriweather, serif;
    font-weight: 900;
    font-size: 1.3125em;
    font-style: italic;
    background: transparent;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0px;
      left: 15px;
      width: 47px;
      height: 47px;
      border: 4px solid #fff;
      border-radius: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 30px;
      width: 17px;
      height: 17px;
      border: 4px solid #fff;
      border-radius: 50%;
    }
  }
  aside {
    position: relative;
    padding: 14.5em 0 1.5em 0;
    h5 {
      position: absolute;
      bottom: -1.5em;
      left: -27em;
      transform: rotate(270deg);
      text-transform: uppercase;
      span {
        font-weight: 300;
        letter-spacing: 0.1em;
      }
      a {color: #fff;}
    }
  }
  div:last-child {
    position: relative;
    img {
      position: absolute;
      top: -17em;
      right: 1.2em;
      width: 670px;
      height: 930px;
      overflow: hidden;
    }
  }
}

/* Section-2 Styles */
.section-2 {
  padding: 5% 0 3.5% 0;
  h2 {
    padding-bottom: 0;
    color: #222626;
  }
  .col-6 {padding-top: 0;
    p {
      padding-top: 4%;
      color: #959595;
    }
  }
  .col-6:last-child {padding-top: 7.8%;}
}

/* Section-3 Styles */
.section-3 {
  max-width: 2400px;
  height: 556px;
  overflow-x: hidden;
  .wrapper {
    width: 1140px;
    height: inherit;
    margin: 0 auto;
    .gallery-translate {margin-left: -850px;}
    #gallery {
      transition: all 2s;
      display: flex;
      flex-flow: row wrap;
      width: 2000px;
      height: inherit;
      color: #fff;
      .gal-img {
        position: relative;
        padding: 50px 45px 0 45px;
        p:not(:last-child) {padding: 30px 0;}
        a {
          position: absolute;
          bottom: 50px;
          left: 45px;
          p {
            font-weight: 700;
            color: #fff;
          }
        }
        span {
          position: absolute;
          bottom: 50px;
          right: 45px;
          font-size: 1.5em;
          transform: rotate(90deg);
        }
        &:hover {
          -webkit-filter: brightness(110%);
          filter: brightness(110%);
        }
      }
      .first-img, .second-img, .third-img, .sixth-img {
        width: 400px;
        height: 278px;
      }
      .fourth-img, .fifth-img, .seventh-img {
        width: 800px;
        height: 278px;
        padding-right: 250px;
        background-size: cover;
      }
      .first-img {background: #f7ddcc;}
      .first-img {background: #f7ddcc;}
      .second-img {background: #d7b8a3;}
      .third-img {background: #c59378 }
      .fourth-img {background: #bd8cbf;}
      .third-img {background: #091e28 url('https://i.etsystatic.com/20604666/r/il/c166ce/2745447697/il_1588xN.2745447697_k7tc.jpg') no-repeat center center;}
      .sixth-img {background: #82ca9c;}
      .seventh-img {background: #091e28 url('https://www.congress-security.com/other-projects/take-page/image/box-7-img.png') no-repeat center center;}
    }
  }
}

/* Section-4 Styles */
.section-4 {
  padding: 5% 0 7.7% 0;
  aside {position: relative;
    h5 {
      position: absolute;
      bottom: -0.5em;
      left: -24em;
      transform: rotate(270deg);
      text-transform: uppercase;
      a {color: #959595;}
    }
    h2 {color: #222626;}
  }
  h4 {
    padding: 6% 0 6% 0;
    color: #67676d;
  }
  p {color: #959595;}
}

/* Section-5 Styles */
.section-5 {
  padding: 23.5% 0 6.1% 0;
  background: #bd8cbf url('https://www.congress-security.com/other-projects/take-page/image/middle-bg.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  h2 {font-size: 3.75em;}
  .col-2 {
    padding-top: 0;
    font-weight: 700;
    color: #fff;
  }
}

/* Section-6 Styles */
.section-6 {
  padding: 5% 0 8.95% 0;
  color: #fff;
  background: #f1d8cc;
  aside {position: relative;
    h5 {
      position: absolute;
      bottom: -0.5em;
      left: -24em;
      transform: rotate(270deg);
      text-transform: uppercase;
      a {color: #fff;}
    }
  }
  .col-4 {padding-right: 1.5em;
    h4 {padding: 6% 0 6% 0;}
  }
}

/* Section-7 Styles */
.section-7 {
  padding: 4.5% 0 6.75% 0;
  background: #f6f7fa;
  .row {position: relative;
    h5 {
      position: absolute;
      top: 6em;
      left: -24em;
      transform: rotate(270deg);
      text-transform: uppercase;
      a {color: #8297a7;}
    }
  }
  .col-6 {padding: 2.3em 7em 3.5em 3.35em;
    button {
      text-transform: uppercase;
      color: #fff;
      border: none;
      outline: none;
      transition: all .3s;
    }
    .status {
      padding: 0.3em 1.2em;
      font-weight: 800;
      font-size: 0.6875em;
      letter-spacing: 0.1em;
      background: #e1e1e1;
      border-radius: 5px;
    }
    .content {padding: 1.5em 0;
      h3 {color: #2e3b4e;}
      p {
        padding-top: 1.5em;
        color: #8297a7;
      }
    }
    .buy-now {
      padding: 1.35em 2.15em;
      margin-bottom: 1.5em;
      font-weight: 700;
      font-size: 0.75em;
      letter-spacing: 0.2em;
      background: #ecd4c6;
      border-radius: 3px;
      &:hover {
        -webkit-filter: contrast(115%);
        filter: contrast(115%);
        cursor: pointer;
      }
    }
    img {
      width: 1.5625em;
      height: 1.5625em;
      margin-right: 0.5em;
      text-align: center;
    }
  }
  .col-6:last-of-type .buy-now {padding: 1.35em 1.75em;}
  .col-6:hover {
    background: #f1d8cc;
    box-shadow: 0 0 50px whitesmoke;
  }
  .col-6:hover .status {background: whitesmoke;}
  .col-6:hover h3 {font-weight: 400;}
}

/* Footer */
footer {
  padding: 6.35% 0 7.3% 0;
  color: #fff;
  background: #34535b;
  h4 {padding-bottom: 1em;}
  .col-6:last-child {padding-left: 9%;
    form {
      position: relative;
      width: 29.38em;
      height: 3.625em;
      margin-top: 0.4em;
      z-index: 10;
      overflow: hidden;
      border-radius: 3px;
      input {
        position: relative;
        height: 100%;
        vertical-align: middle;
        border: none;
        outline: none;
        z-index: 10;
      }
      input[type=email] {
        width: 19.25em;
        padding-left: 1.5em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.3em;
        color: #192431;
      }
      input[type=submit] {
        width: 5.28em;
        margin-left: -5px;
        opacity: 0;
        transition: all .3s;
        &:hover {
          opacity: .1;
          cursor: pointer;
        }
      }
      .tick {
        position: absolute;
        bottom: -3em;
        right: -3.5em;
        padding: 75px;
        text-align: center;
        vertical-align: middle;
        transform: rotate(135deg);
        background: #82ca9c;
        z-index: 0;
        span {
          display: block;
          width: 30px;
          height: 15px;
          border-right: 1px solid #fff;
          border-top: 1px solid #fff;
        }
      }
    }
    p {
      padding-top: 1.5em;
      line-height: 125%;
      font-size: 0.75em;
      color: #57697f;
    }
  }
  .col-2 {
    a {
      font-weight: 400;
      font-size: 0.8125em;
      color: #fff;
    }
  }
}

/* Media Queries */
@media only screen and (min-width: 1800px) {
  body {font-size: 18px;}
  .row {width: 1600px;}
  .section-3 .wrapper {width: 1570px;}
  .section-3 .wrapper .gallery-translate {margin-left: -420px;}
  footer .col-6:last-child .tick {bottom: -2.5em; right: -3em;}
}

@media only screen and (max-width: 1224px) {
  .col-3 {width: 50%;}
  .row {width: 980px;}
  .section-1 {padding: 4% 0 5em 0;}
  .section-1 aside {padding: 4em 0 1em 0;}
  .section-1 .logo {padding-left: 8.5%;}
  .section-1 img {display: none;}
  .section-2 .col-6:last-child {padding-top: 0;}
  .section-3 {height: 1112px;}
  .section-3 .wrapper {width: 950px;}
  .section-3 .wrapper #gallery {width: 800px; margin: 0 auto;}
  .second-img, .sixth-img {display: none;}
  footer .col-6:last-child {padding-left: 0.5%;}

}

@media only screen and (max-width: 1024px) {
  .col-6 {width: 100%;}
  .row {width: 700px;}
  .section-1 .logo {padding-left: 11%;}
  .section-3 {height: 834px;}
  .section-3 .wrapper {width: 760px;}
  .section-3 .wrapper #gallery {width: 760px;}
  .section-3 .wrapper #gallery .first-img,
  .section-3 .wrapper #gallery .third-img {width: 380px;}
  .section-3 .wrapper #gallery .fifth-img,
  .section-3 .wrapper #gallery .seventh-img {width: 760px;}
  .fourth-img {display: none;}
  footer {text-align: center;}
  footer .col-6:first-child {padding: 0 10%;}
  footer .col-6:last-child {padding-left: 1.5%;}
  footer .col-6:last-child form {margin: 0 auto;}
  footer .col-2 {width: 33.33%;}
  footer .col-2 h4, footer .col-2 ul li {padding-left: 33.33%; text-align: left;}
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {width: 100%;}
  .row {width: 460px;}
  .section-1 {padding: 4% 0 3em 0;}
  .section-1 .logo {padding-left: 20%;}
  .section-3 {display: none;}
  .section-4 h4, .section-6 .col-4 h4 {padding: 0 0 3% 0;}
  .section-5 {padding: 5% 0;}
  .section-7 .col-6 {padding: 2em;}
  footer .col-6:last-child {padding: 0;}
  footer .col-6:last-child h4 {padding-top: 3%;}
  footer .col-2 h4, footer .col-2 ul li {padding-left: 15%;}
}

@media only screen and (max-width: 480px) {
  .row {width: 320px;}
  .section-1 {padding: 4% 0 1em 0;}
  .section-1 aside {padding: 0;}
  .section-1 aside h1 {line-height: 110%;}
  .section-1 .logo {padding-left: 30%;}
  .section-3 {display: none;}
  .section-5 {display: none;}
  .section-7 .col-6 {padding: 2em;}
  footer .col-6:last-child form {width: 20em;}
  footer .col-6:last-child form input[type=email] {width: 12em;}
}
