@import "~bootstrap/scss/bootstrap";
@import "stripe.scss";

html { position: relative; min-height: 100%; }

.salon-title {
  margin: 0;
  font-family: freight-big-pro;
  font-weight: 900;
  text-align: left;
  font-size: 25px;
  line-height: 1.2;
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}
.wrapper {
  background-image: url('../images/homepage_1.jpg');
  height: 650px;
  background-size: cover;
  padding-top: 150px;
  text-align: center;
  color: white;
}

footer p, footer img {
	padding: 10px;
}

.search-card .card {
	&:hover, &:focus {
  	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    transform: scale3d(1.020, 1.020, 1);
    cursor: pointer;
	}
}

.vertical-spacer {
  height: 6em;
}

h2 { font-size: 1.7rem; }
h3 { font-size: 1.4rem; }
h4 { font-size: 1.2rem; }

h1.saloon-name { line-height: 0.6; }
.sidebar h2 { font-size: 1.1rem; }

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }

.card-img-top {
  height: 190px;
}

.search-card .card {
  max-width: 290px;
  margin: auto;
}

.img-center {
  display: block;
  margin: auto;
}

.vich-image {
  img {
    width: 100%;
  }
}

$blackColor: #997A8D;

body {
  h1.logo {
    position: fixed;
    top: 40px;
    left: 40px;
    z-index: 6;
    font-size: 20px;
    font-weight: 900;
    font-family: sans-serif;
    text-transform: uppercase;
    > span {
      text-transform: none;
      opacity: .5;
      font-weight: 300;
      font-size: 12px;
    }
  }
  input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 5;
    span {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      margin-top: -1px;
      left: 0;
      display: block;
      background: $blackColor;
      transition: .5s;
    }
    span:first-child {
      top: 3px;
    }
    span:last-child {
      top: 16px;
    }
  }
  label:hover {
    cursor: pointer;
  }
  input:checked + label {
    span {
      opacity: 0;
      top: 50%;
    }
    span:first-child {
      opacity: 1;
      transform: rotate(405deg);
    }
    span:last-child {
      opacity: 1;
      transform: rotate(-405deg);
    }
  }
  input ~ nav {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
    > ul {
      text-align: center;
      position: absolute;
      list-style-type: none;
      top: 35%;
      left: 20%;
      right: 20%;
      > li {
        opacity: 0;
        transition: .5s;
        transition-delay: 0s;
        > a {
          text-decoration: none;
          text-transform: uppercase;
          color: $blackColor;
          font-weight: 700;
          font-family: sans-serif;
          display: block;
          padding: 30px;
        }
      }
    }
  }
  input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
    > ul {
      > li {
        opacity: 1;
        transition-delay: .5s;
      }
    }
  }
}

