#card-element {
  height: 100%;
}
.groupLabel {
  background: white;
  border-radius: 4px;
  margin-bottom: 20px;
}

.groupLabel label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  display: flex;
  flex-direction: row;
}

.groupLabel  label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

.groupLabel label > span {
  width: 200px;
  text-align: right;
  margin-right: 30px;
}

.formText {
  font-family: 'Roboto';
}

.groupLabel .form-group {
  width: calc(100% - 200px);
}

.form-control {
  border: none
}