{% set page_id = 5 %}
{% extends "layout.html.twig" %}

{% block title %}Horaires | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">

	{% include 'saloon/menu.html.twig' %}

	<div class="col-lg-8 col-md-10 col-sm-12 offset-md-1 offset-lg-2">

		<h1 class="text-center my-3">Modifier un horaire</h1>

		<div class="row justify-content-center">

			<div class="col-12 col-sm-12 col-lg-6">

				{{ form(form) }}
			
			</div>
		
		</div>

	</div>

</div>

{% endblock %}
