Votre rendez-vous le <b>{{ slot.start|date('d/m/Y') }}</b> à <b>{{ slot.start|date('H:i') }}</b> avec <b>{{ slot.worker.firstname|capitalize }}</b>  a bien été pris en compte<br>
Adresse de votre salon : <b>{{ slot.saloon.location }}</b><br><br>
<a href="https://boocut.fr" target="_blank">Boocut</a>