{% set page_id = 7 %}
{% extends "layout.html.twig" %}

{% block title %}Modifier un employé | {{ parent() }}{% endblock %}

{% block body %}

<div class="row">

	{% include 'saloon/menu.html.twig' %}

	<div class="col-lg-10 col-md-12">

		<h1 class="text-center my-3">Modifier un employé</h1>

		<div class="row justify-content-center">
			<div class="col-12 col-sm-12 col-lg-6">
				{{ form(form) }}
			</div>
		</div>
	</div>
</div>

{% endblock %}
